.item-list-container h2 {
    width: 100%;
    text-align: center;
    margin: 2rem;
}

.btn-container {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cantidad-num {
  color: #ff1744;
  font-weight: bold;
}

.total-pagar{
    width: 100%;
    text-align: center;
}
.msg-cart-vacio {
    font-size: 1.4rem;
}

.btn-volver {
  display: block;
  margin: 2rem auto 0 auto;
  text-align: center;
  font-size: 1.3rem;
  background: #ff1744;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  box-shadow: 0 2px 8px rgba(255,23,68,0.10);
  transition: background 0.15s;
  width: fit-content;
}

.btn-volver:hover {
  background: #d50000;
  color: #fff;
  text-decoration: none;
}

.carrito-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}