.product-item {
  background-color: #1e1e1e; /* Gris más claro que el fondo */
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 15.625rem; /* 250px */
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(156, 25, 25, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.product-item img {
  width: 100%;
  height: 250px;         /* Tamaño fijo para todas las imágenes */
  object-fit: cover;     /* Recorta y ajusta la imagen */
  border-radius: 8px;
  display: block;
  background: #222;      /* Fondo por si la imagen no carga */
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item p {
  margin: 0.375rem 0; /* 6px */
}

.product-item > h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #d80a0a;
}

a {
  text-decoration: none;
}
.product-item > button{
  background-color: rgb(124, 116, 116);
  color: white;
}

