.count-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.count-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.btn:disabled {
    background-color: #ffffff;
    cursor: not-allowed;
    transform: none; 
    opacity: 0.5;
}

.btn {
    background-color: #ff1744; 
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.15s;
}

.btn:hover:not(:disabled) {
    background-color: #d50000;
}

