header {
  background-color: #ffffff;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.header-container img {
  margin-left: 0;
  cursor: pointer;
  padding-top: 0;
  width: 60px;
  height: auto;
}

.header-container a {
  text-decoration: none;
  color: inherit;
}