html, body, #root {
  height: 100%;
  min-height: 100vh;
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  margin-top: 2rem;
  color: #df1313;
  font-size: 2rem;
  font-weight: bold;
}

.container h2 {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
}