.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 700px) {
  .galeria {
    grid-template-columns: 1fr; 
  }
}